* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

:root {
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --Soft-red-two: hsl(345, 79%, 63%);

    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 17%, 19%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

/* body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
html,
body {
    overflow-x: hidden;
}